.container{
  margin: 0 auto;
}
.top-row {
  background: url('../pictures/PETALS.jpg') center no-repeat;
  padding-top: 30px;
}
.h1 {
  text-align: center;
  font-family: serif;
}
.body {
  text-align: center;
  margin: 0 auto;
}
